

*{
    box-sizing: border-box;
}
 

/* heading in navbar */
.navbar-brand {
  height: 60px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color:#4aaaa5;
}

.navbar-nav{
  font-size: 20px;  
}

.navbar-right > li {
    margin-top: 10px;
    line-height: 8px;
    border-left: 1px solid #efefef;
}

#navbarNav ul li a:hover{
  color: #4aaaa5;
}

.navbar-right > li:first-of-type
{
    border-left: none;
}

#myname{
  color:snow;
}

#myname:hover{
  color:#4aaaa5;
}
#navlink{
  color:snow;
}


/* heading inside the body container */

h1, h2{
    color: #4aaaa5; 
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    border-bottom: 2px solid #aaa;
    font-family: Georgia, Times, 'Times New Roman', serif;
}


body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    background-color: lightgrey;
  
}



/* footer  */

#footer{
   border-top: 5px solid #4aaaa5;
  
}

.footer-copyright{
  font-size: 14px;
  color:silver;
  text-align: right;
}
#icons{
  text-align: right;
  font-size: 25px;
}

#mail,#phone,#resume,#more{
  color:#e07b39;
  font-size: 18px;
}
#mailto{
  color:white;
}

#github,
#linkedin,#mailbox{
  transition: color 0.2s;
  color:white;
}

#github:hover,#mailbox:hover,#linkedin:hover{
  color:  #4aaaa5;

}
  
#contact{
  color:white;
  font-size: 18px;
}



/* portfolio page */

.portfolio {
    font-size: 30px;
    margin-bottom: 20px;
}


.content-div {
    margin-top: 30px;
}

.rounded-card {
    border-radius: 15px;
}

.card-title {
    font-size: 35px;
}

.card-text {
    font-size: 18px;
}

.card-img {
    transition: transform .5s ease;
}


.grow:hover {
    transform: scale(1.05);
}

.hover-img {
    overflow: hidden;
    border-radius: 15px;
}

.hover-img:hover img {
    transform: scale(1.15);
}

#portfolio-div {
    overflow-x: hidden;
    height: 100%;
}
#githubLink {
    text-decoration: none;
    color: #00E676;
}

#githubLink:hover {
    color: #F19830;;
}


